#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define DEF 0
#define NUM 1
#define SYM 2
#define NAV 3
#define CON 4

&lt {
    quick-tap-ms = <200>;
};

&mt {
    quick-tap-ms = <200>;
};

/ {
    behaviors {
        ndi: nav_tap_dance_i {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp UP>, <&kp LA(UP)>, <&kp LG(UP)>;
        };
        ndd: nav_tap_dance_d {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp DEL>, <&kp LA(DEL)>, <&kp LG(DEL)>;
        };
        ndh: nav_tap_dance_h {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp BSPC>, <&kp LA(BSPC)>, <&kp LG(BSPC)>;
        };
        ndj: nav_tap_dance_j {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LEFT>, <&kp LA(LEFT)>, <&kp LG(LEFT)>;
        };
        ndk: nav_tap_dance_k {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp DOWN>, <&kp LA(DOWN)>, <&kp LG(DOWN)>;
        };
        ndl: nav_tap_dance_l {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp RIGHT>, <&kp LA(RIGHT)>, <&kp LG(RIGHT)>;
        };
    };

    combos {
        compatible = "zmk,combos";
        combo_con_layer_l {
            layers = <DEF>;
            key-positions = <36 37 38>;
            bindings = <&mo CON>;
        };
        combo_con_layer_r {
            layers = <DEF>;
            key-positions = <39 40 41>;
            bindings = <&mo CON>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp TAB         &kp Q           &kp W           &kp E           &kp R           &kp T                   &kp Y           &kp U           &kp I           &kp O           &kp P           &kp LBKT
&mt LCTRL GRAVE &kp A           &kp S           &kp D           &kp F           &kp G                   &kp H           &kp J           &kp K           &kp L           &kp SEMI        &mt LALT SQT
&mt LSHFT MINUS &kp Z           &kp X           &kp C           &kp V           &kp B                   &kp N           &kp M           &kp COMMA       &kp DOT         &kp FSLH        &mt RSHFT EQUAL
                                                &kp LCMD        &lt NAV SPACE   &lt NUM TAB             &lt SYM ESC     &lt NAV SPACE   &kp RCMD
            >;
        };

        num_layer {
            bindings = <
&kp F1          &kp F2          &kp F3          &kp F4          &kp F5          &kp F6                  &kp F7          &kp F8          &kp F9          &kp F10         &kp F11         &kp F12
&trans          &kp N1          &kp N2          &kp N3          &kp N4          &kp N5                  &kp N6          &kp N7          &kp N8          &kp N9          &kp N0          &trans
&kp MINUS       &none           &none           &none           &kp LG(LBRC)    &kp LG(LBKT)            &kp LG(RBKT)    &kp LG(RBRC)  &kp LC(LA(COMMA)) &kp LC(LA(DOT)) &kp BSLH        &kp EQUAL
                                                &trans          &trans          &trans                  &trans          &trans          &trans
            >;
        };

        sym_layer {
            bindings = <
&kp C_BRI_DEC   &kp C_BRI_INC   &none           &kp C_AC_SEARCH &kp C_VOICE_COMMAND  &none              &kp C_PREV      &kp C_PP        &kp C_NEXT      &kp C_MUTE      &kp C_VOL_DN    &kp C_VOL_UP
&kp TILDE       &kp EXCLAMATION &kp AT_SIGN     &kp HASH        &kp DOLLAR      &kp PERCENT             &kp CARET       &kp AMPERSAND   &kp ASTERISK    &kp LPAR        &kp RPAR        &kp PIPE
&kp UNDER       &none           &none           &none           &kp LBRC        &kp LBKT                &kp RBKT        &kp RBRC        &kp LT          &kp GT          &kp BSLH        &kp PLUS
                                                &trans          &trans          &trans                  &trans          &trans          &trans
            >;
        };

        nav_layer {
            bindings = <
&kp TAB         &none           &none           &kp LG(RIGHT)   &none           &kp PG_UP               &none           &kp LA(LEFT)    &ndi            &kp LA(RIGHT)   &none           &none
&kp LCTRL       &kp LG(LEFT)    &none           &ndd            &none           &none                   &ndh            &ndj            &ndk            &ndl            &none           &kp LALT
&kp LSHFT       &none           &none           &none           &none           &kp PG_DN               &kp ESC         &kp RET         &kp LG(LBKT)    &kp LG(RBKT)    &none           &kp RSHFT
                                                &trans          &trans          &trans                  &trans          &trans          &trans
            >;
        };

        connection_layer {
            bindings = <
&bootloader     &out OUT_BLE    &out OUT_USB    &studio_unlock  &none           &none                   &none           &none           &none           &none           &none           &bootloader
&bt BT_CLR      &bt BT_SEL 0    &bt BT_SEL 1    &bt BT_SEL 2    &bt BT_SEL 3    &bt BT_SEL 4            &bt BT_SEL 4    &bt BT_SEL 3    &bt BT_SEL 2    &bt BT_SEL 1    &bt BT_SEL 0    &bt BT_CLR
&sys_reset      &bt BT_DISC 0   &bt BT_DISC 1   &bt BT_DISC 2   &bt BT_DISC 3   &bt BT_DISC 4           &bt BT_DISC 4   &bt BT_DISC 3   &bt BT_DISC 2   &bt BT_DISC 1   &bt BT_DISC 0   &sys_reset
                                                &none           &none           &none                   &none           &none           &none
            >;
        };
    };
};
