#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define DEF 0
#define NAV 1
#define FNM 2
#define CON 3

&lt {
    quick-tap-ms = <200>;
};

&mt {
    quick-tap-ms = <200>;
};

/ {
    combos {
        compatible = "zmk,combos";
        combo_con_layer_l {
            layers = <DEF>;
            key-positions = <36 37 38>;
            bindings = <&mo CON>;
        };
        combo_con_layer_r {
            layers = <DEF>;
            key-positions = <39 40 41>;
            bindings = <&mo CON>;
        };
    };

    macros {
        vim_n_w: vim_n_w {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &kp LA(RIGHT) &kp RIGHT>;
        };
        vim_n_r: vim_n_r {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LSHFT>
                , <&macro_tap &kp LEFT>
                , <&macro_release &kp LSHFT>
                ;
        };
        vim_n_o: vim_n_o {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &kp LG(RIGHT) &kp RET>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Default";
            bindings = <
&kp TAB         &kp Q           &kp W           &kp E           &kp R           &kp T                   &kp Y           &kp U           &kp I           &kp O           &kp P           &kp LBKT
&mt LCTRL GRAVE &kp A           &kp S           &kp D           &kp F           &kp G                   &kp H           &kp J           &kp K           &kp L           &kp SEMI        &mt RCTRL SQT
&mt LSHFT MINUS &kp Z           &kp X           &kp C           &kp V           &kp B                   &kp N           &kp M           &kp COMMA       &kp DOT         &kp FSLH        &mt RSHFT EQUAL
                                                &mt LALT BSPC   &mt LCMD LBKT   &lt NAV SPACE           &lt FNM SPACE   &mt RCMD RBKT   &mt RALT DEL
            >;
        };

        nav_layer {
            display-name = "Nav";
            bindings = <
&kp TAB         &none           &vim_n_w        &kp LA(RIGHT)   &vim_n_r        &kp PG_UP               &kp LG(C)       &kp LG(Z)       &kp TAB         &vim_n_o        &kp LG(V)       &kp ESC
&kp LCTRL       &kp LG(LEFT)    &none           &kp DEL         &none           &kp PG_DN               &kp LEFT        &kp DOWN        &kp UP          &kp RIGHT       &none           &kp RCTRL
&kp LSHFT       &none           &kp BSPC        &none           &kt LSHFT       &kp LA(LEFT)            &kp ESC         &kp RET         &none           &none           &none           &kp RSHFT
                                                &trans          &trans          &trans                  &trans          &trans          &trans
            >;
        };

        fnm_layer {
            display-name = "FNM";
            bindings = <
&kp F1          &kp F2          &kp F3          &kp F4          &kp F5          &kp F6                  &kp F7          &kp F8          &kp F9          &kp F10         &kp F11         &kp F12
&kp N1          &kp N2          &kp N3          &kp N4          &kp N5          &kp N6                  &kp N7          &kp N8          &kp N9          &kp N0          &kp MINUS       &kp EQUAL
&kp C_BRI_DEC   &kp C_BRI_INC   &none           &kp C_AC_SEARCH &none           &none                   &kp C_PREV      &kp C_PP        &kp C_NEXT      &kp C_MUTE      &kp C_VOL_DN    &kp C_VOL_UP
                                                &trans          &trans          &trans                  &trans          &trans          &trans
            >;
        };

        connection_layer {
            display-name = "Connection";
            bindings = <
&bootloader     &out OUT_BLE    &out OUT_USB    &studio_unlock  &none           &none                   &none           &none           &none           &none           &none           &bootloader
&bt BT_CLR      &bt BT_SEL 0    &bt BT_SEL 1    &bt BT_SEL 2    &bt BT_SEL 3    &bt BT_SEL 4            &bt BT_SEL 4    &bt BT_SEL 3    &bt BT_SEL 2    &bt BT_SEL 1    &bt BT_SEL 0    &bt BT_CLR
&sys_reset      &bt BT_DISC 0   &bt BT_DISC 1   &bt BT_DISC 2   &bt BT_DISC 3   &bt BT_DISC 4           &bt BT_DISC 4   &bt BT_DISC 3   &bt BT_DISC 2   &bt BT_DISC 1   &bt BT_DISC 0   &sys_reset
                                                &none           &none           &none                   &none           &none           &none
            >;
        };
    };
};
